@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 300;

  color-scheme: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #73ccb1;
  }
}

@layer base {
  :root {
    --background: 0 0% 98.46%;
    --foreground: 252 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 27.06 92.51% 79.46%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164.12 70.54% 73.89%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 27.06 0% 93.85%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 6.2%;
    --foreground: 252 37% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 27.06 90% 80%;
    --primary-foreground:0 0% 0%;
    --secondary: 160.12 100% 80%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/*@layer base {*/
/*  :root {*/
/*    --background: 0 0% 98.46%;*/
/*    --foreground: 252 0% 10%;*/
/*    --muted: 0 0% 91.54%;*/
/*    --muted-foreground: 0 0% 53.08%;*/
/*    --popover: 0 0% 100%;*/
/*    --popover-foreground: 252 0% 0%;*/
/*    --card: 0 0% 100%;*/
/*    --card-foreground: 252 0% 30.77%;*/
/*    --border: 0 0% 86.92%;*/
/*    --input: 0 0% 74.62%;*/
/*    --primary: 27.06 92.51% 79.46%;*/
/*    --primary-foreground: 0 0% 0%;*/
/*    --secondary: 164.12 70.54% 73.89%;*/
/*    --secondary-foreground: 0 0% 0%;*/
/*    --accent: 27.06 0% 93.85%;*/
/*    --accent-foreground: 0 0% 0%;*/
/*    --destructive: 0 65.31% 66.73%;*/
/*    --destructive-foreground: 0 0% 100%;*/
/*    --ring: 27.06 1.79% 32.5%;*/
/*    --radius: 0.5rem;*/
/*  }*/

/*  .dark {*/
/*    --background: 0 0% 6.27%;*/
/*    --foreground: 252 37% 98%;*/
/*    --muted: 0 0% 20%;*/
/*    --muted-foreground: 0 0% 62.75%;*/
/*    --popover: 0 0% 8.63%;*/
/*    --popover-foreground: 252 37% 99%;*/
/*    --card: 0 0% 6.27%;*/
/*    --card-foreground: 252 37% 99%;*/
/*    --border: 0 0% 15.69%;*/
/*    --input: 0 0% 25.38%;*/
/*    --primary: 27.06 100% 80%;*/
/*    --primary-foreground: 0 0% 0%;*/
/*    --secondary: 164.12 100% 80%;*/
/*    --secondary-foreground: 0 0% 0%;*/
/*    --accent: 27.06 0.22% 23.03%;*/
/*    --accent-foreground: 0 0% 100%;*/
/*    --destructive: 0 100% 75.1%;*/
/*    --destructive-foreground: 0 0% 0%;*/
/*    --ring: 27.06 100% 80%;*/
/*  }*/
/*}*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#ChoiceGrid > :last-child {
  grid-column: span 2;
  justify-self: center; 
}